

body{
    background-color: bisque;
   
}

.container{
    max-width: 500px;
    margin: auto;
}
h1{
    text-align: center;
}

input{
    width: 300px;
    border-radius: 10px;
    height: 25px;
    padding-left: 10px;

}
.inp{
    text-align: center;
}
ul{
    list-style: none;
}

li {
    font-size: 25px;
    margin: 10px;
}

#score{
    font-size: 25px;
    margin: 10px;
}
h3{
    width: 100%;
    text-align: right;
}


button{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
}



.resultdraw{
    color: orange;
    font-size: 30px;
    
}
.resultlose{
    color: red;
    font-size: 30px;
}

.resultwin{
    color: green;
    font-size: 30px;
}

